# Environment Variables
config/.env
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/*.log
*.log

# OS
.DS_Store
Thumbs.db

# Model Cache
.cache/
models/

# Data (if you download locally)
data/
*.csv
*.json

notebooks/
archives/